<h1>My Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Steam</th>
      <th>Price</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.steam.name %></td>
        <td><%= order.steam.price %></td>
        <td><%= order.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>